.div-container-index {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.div-container-index .nav-item:hover {
  background-color: #4a4a4a;
  transition: all 0.4s linear;
  border-radius: 7px;
}

/* Header */
.header-container-index {
  background-image: url(../imagen/indexHed2.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container-index .paragraph-header-indexlg {
  font-size: 4rem;
  margin-top: 10rem;
  color: black;
}
.header-container-index .paragraph-header-index {
  font-size: 2rem;
  margin-top: 50px;
}

/* Fin Header */
/* Main */
.main-index {
  padding: 50px;
}
.main-index .h1-main-index {
  padding-bottom: 40px;
}

.section-container-index {
  padding: 50px;
}
.section-container-index .div-section-indexxs {
  display: none;
}
@media screen and (max-width: 1140px) {
  .section-container-index .div-section-indexlg {
    display: none;
  }
  .section-container-index .div-section-indexxs {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .paragraph-header-indexxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .paragraph-header-indexlg,
.paragraph-header-index {
    display: none;
  }
  .paragraph-header-indexxs {
    display: block;
    font-size: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    color: black;
  }
}
/* Fin Main */
/*                             Fin index                                */
.header-container-servicios {
  background-image: url(../imagen/indexHed4.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  background-color: black;
  /* estas tres propiedades
  se las ponemos para centrar
  la posicion del parrafo que esta
  dentro del header */
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container-servicios .paragraph-header-servicioslg {
  font-size: 4rem;
  margin-top: 10rem;
  color: white;
}

/* Fin Header */
/* Main */
.main-servicios {
  padding: 50px;
}
.main-servicios .div-servicios1 {
  background-image: url(../imagen/images-transf.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-servicios .div-servicios2 {
  background-image: url(../imagen/images-6.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-servicios .div-servicios3 {
  background-image: url(../imagen/images-3.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-servicios .div-servicios4 {
  background-image: url(../imagen/images-7.png);
  background-repeat: no-repeat;
}
.main-servicios .div-servicios5 {
  background-image: url(../imagen/images-5.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-servicios .div-servicios6 {
  background-image: url(../imagen/images-8.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-servicios .imag-servicios1:hover,
.main-servicios .imag-servicios2:hover,
.main-servicios .imag-servicios3:hover,
.main-servicios .imag-servicios4:hover,
.main-servicios .imag-servicios5:hover,
.main-servicios .imag-servicios6:hover {
  transform: translatey(400px);
  opacity: 0;
  transition: all 2s;
}
.main-servicios .div-main-servicios800 {
  display: none;
}
@media screen and (max-width: 800px) {
  .main-servicios .div-main-servicioslg {
    display: none;
  }
  .main-servicios .div-main-serviciosimg {
    display: none;
  }
  .main-servicios .div-main-servicios800 {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .paragraph-header-serviciosxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .paragraph-header-servicioslg {
    display: none;
  }
  .paragraph-header-serviciosxs {
    display: block;
    font-size: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    color: white;
  }
}
/* Fin Main */
/*                           FIN SERVICIOS                              */
/*                   NOSOTROS                     */
/* Header */
.header-container-nosotros {
  background-image: url(../imagen/somos.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  background-color: black;
  /* estas tres propiedades
  se las ponemos para centrar
  la posicion del parrafo que esta
  dentro del header */
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container-nosotros .paragraph-header-nosotroslg {
  font-size: 4rem;
  margin-top: 10rem;
  color: white;
}

.main-nosotros {
  padding: 50px;
}

@media screen and (min-width: 800px) {
  .paragraph-header-nosotrosxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .paragraph-header-nosotroslg {
    display: none;
  }
  .paragraph-header-nosotrosxs {
    display: block;
    font-size: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    color: white;
  }
}
/* Fin Header */
/*                                             FIN NOSOTROS                                    */
/*                                               CONTACTO                                       */
/* Header */
.header-container-contacto {
  background-image: url(../imagen/contacto.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  background-color: black;
  /* estas tres propiedades
  se las ponemos para centrar
  la posicion del parrafo que esta
  dentro del header */
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container-contacto .paragraph-header-contactolg {
  /* estas propiedades son aplicadas al header del 
  html de nosotros, contacto y servicios */
  font-size: 4rem;
  margin-top: 10rem;
  color: white;
}

/* Fin Header */
/* Main */
.main-contacto {
  padding: 50px;
}
.main-contacto .mapa {
  width: 40%;
  height: 9rem;
}

@media screen and (min-width: 800px) {
  .paragraph-header-contactoxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .paragraph-header-contactolg {
    display: none;
  }
  .paragraph-header-contactoxs {
    display: block;
    font-size: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    color: white;
  }
}
/* Fin Main */
/*                                          FIN CONTACTO                                               */
/*                                             CLIENTES                                                */
/* Header */
.header-container-clientes {
  background-image: url(../imagen/clientes.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-attachment: fixed;
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container-clientes .paragraph-header-clienteslg {
  font-size: 4rem;
  margin-top: 10rem;
  color: white;
}

.main-clientes {
  padding: 50px;
}

.section-clienteslg {
  padding: 50px;
}
.section-clienteslg .imag-clientes {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .imag-clientes {
    width: 75%;
  }
}
@media screen and (min-width: 800px) {
  .section-clientesxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .section-clienteslg {
    display: none;
  }
  .section-clientesxs {
    display: block;
    padding: 25px;
  }
}
@media screen and (min-width: 800px) {
  .paragraph-header-clientesxs {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .paragraph-header-clienteslg {
    display: none;
  }
  .paragraph-header-clientesxs {
    display: block;
    font-size: 2rem;
    font-size: 2rem;
    margin-top: 10rem;
    color: white;
  }
}
/*                                                 FIN CLIENTES                                                */
html {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4rem;
}

body {
  background-color: rgb(202, 202, 207);
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
