       
       
       @import "../Base/listas.scss";
       
       
       
       /*                                             CLIENTES                                                */


  /* Header */

  .header-container-clientes {
    background-image: url(../imagen/clientes.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    background-color: black;

  

    display: flex;
    align-items: center;
    justify-content: center;



    .paragraph-header-clienteslg {



        font-size: 4rem;
        margin-top: 10rem;
        
        color: $color-terciario;
    }
    
}



.main-clientes {

    padding: 50px;

}

.section-clienteslg {
    padding: 50px;

    


.imag-clientes {
    width: 40%;
}

}















@media screen and (max-width:800px ) {

    .imag-clientes {
        width: 75%;
        }
        


    }


    @media screen and (min-width:800px ) {

    
        .section-clientesxs {
            display: none;
            
        }
    
    
    }


    


    @media screen and (max-width:800px ) {

        .section-clienteslg {
            display: none;
        }
    
        .section-clientesxs {
            display: block;
            padding: 25px;
        }
    
    
    }

    @media screen and (min-width:800px ) {

        .paragraph-header-clientesxs {
            display: none;
        }
        }
        
        
        
        @media screen and (max-width:800px ) {
        
            .paragraph-header-clienteslg {
                display: none;
            }
        
        
        
        
            .paragraph-header-clientesxs {
             
                display: block;
                
                font-size: 2rem;
        
                font-size: 2rem;
                margin-top: 10rem;
                
                
                color: $color-terciario;
        
        
        
            }
        
        
        }




 /*                                                 FIN CLIENTES                                                */