

@import "../Base/listas.scss";



/* Header */



.header-container-index {
    background-image: url(../imagen/indexHed2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    background-color: $color-secundario;


    display: flex;
    align-items: center;
    justify-content: center;
    





.paragraph-header-indexlg {
       

    font-size: 4rem;
    margin-top: 10rem;
    color: $color-secundario;
    
}


.paragraph-header-index {


    font-size: 2rem;
    margin-top: 50px;

}








}


/* Fin Header */


/* Main */



.main-index {
    
    padding: 50px;



    .h1-main-index {
        padding-bottom: 40px;
    }


}




.section-container-index {
    padding: 50px;



    .div-section-indexxs {
        display: none;
    }
    



    @media screen and (max-width:1140px ) {

        .div-section-indexlg {
            display: none;
        }
    
        .div-section-indexxs {
            display: block;
        }
    
    
    }


}


@media screen and (min-width:800px ) {

    .paragraph-header-indexxs {
        display: none;
    }

    }
    
    
    
    @media screen and (max-width:800px ) {
    
        .paragraph-header-indexlg, 
        .paragraph-header-index {
            display: none;
        }
    
    
    
    
        .paragraph-header-indexxs {
         
            display: block;
            
            font-size: 2rem;
    
            font-size: 2rem;
            margin-top: 10rem;
            
            
            color: $color-secundario;
    
    
    
        }
    
    
    }



/* Fin Main */




/*                             Fin index                                */
