.div-container-index {
    
   
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
   


    .nav-item:hover {
        background-color: #4a4a4a;
        transition: all 0.4s linear;
        border-radius: 7px;
        
        }
    



}
    
