

@import "../Base/listas.scss";





/*                   NOSOTROS                     */




 /* Header */

 .header-container-nosotros {
    background-image: url(../imagen/somos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    background-color: $color-secundario;

    /* estas tres propiedades
    se las ponemos para centrar
    la posicion del parrafo que esta
    dentro del header */

    display: flex;
    align-items: center;
    justify-content: center; 


    .paragraph-header-nosotroslg {

        

        font-size: 4rem;
        margin-top: 10rem;
        
        color: $color-terciario;
    }


}



    .main-nosotros {
        padding: 50px;
   
    


    }







    @media screen and (min-width:800px ) {

        .paragraph-header-nosotrosxs {
            display: none;
        }
        }
        
        
        
        @media screen and (max-width:800px ) {
        
            .paragraph-header-nosotroslg {
                display: none;
            }
        
        
        
        
            .paragraph-header-nosotrosxs {
             
                display: block;
                
                font-size: 2rem;
        
                font-size: 2rem;
                margin-top: 10rem;
                
                
                color: $color-terciario;
        
        
        
            }
        
        
        }



  /* Fin Header */






/*                                             FIN NOSOTROS                                    */